@model IEnumerable<ProjetoLocadoraDeVeiculos.Models.Locacao>

@{
    ViewData["Title"] = "Locações";
}

<h1>Locações</h1>

<p>
    <a asp-action="Create">Novo Cadastro</a>
</p>
<div class="container">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Veiculo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusLocacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temporada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataLocacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdDiasAlugados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdRenovacoes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorDiaria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorMultaDiaria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorMultaFixa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAlteracao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Veiculo.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusLocacao.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temporada.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataLocacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEntrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdDiasAlugados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdRenovacoes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorDiaria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorMultaDiaria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorMultaFixa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAlteracao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
