@model ProjetoLocadoraDeVeiculos.Models.Temporada

@{
    ViewData["Title"] = "Exclusão";
}

<h1>Exclusão Temporada</h1>

<h3>Deseja realmente excluir?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PercentualAcrescerDiaria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PercentualAcrescerDiaria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PercentualAcrescerMultaFixa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PercentualAcrescerMultaFixa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PercentualAcrescerMultaDiaria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PercentualAcrescerMultaDiaria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAlteracao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAlteracao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
